################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/APIProductos/.config
/APIProductos/obj
/FrontApi/bin/Debug/net8.0
/FrontApi/obj
/APIProductos/bin
